/**
 * Project FishEye
 * Component media
 */




.media {
    display: grid; grid-template-columns: var(--media-grid);
    gap: var(--media-gap);
    margin-bottom: 2rem;
    @include media-max('md') {
        padding: 2.875rem 0;
    }
    .card {
        display: flex; flex-direction: column;
        animation: animate-media .5s ease-in-out;
        &-media {
            position: relative;
            display: flex; justify-content: center; align-items: center;
            width: 100%;
            aspect-ratio: var(--media-picture-ratio);
            img, video{
                width: 100%;
                border-radius: var(--border-radius);
                object-fit: cover;
                aspect-ratio: var(--media-picture-ratio);
                cursor: pointer;
            }
            .video-icon {
                position: absolute; z-index: 1;
                width: 6rem;
                color: rgba($white, 0.8);
                fill: currentColor;
                @include media-max('md') {
                    width: 3rem;
                }
            }
        }
        &-header {
            display: flex; align-items: flex-start;
            margin-top: 0.625rem;
            color: $primary;
            font-size: var(--media-fz);
            &-title {
                flex-grow: 1;
            }
            &-like {
                flex-shrink: 0;
                display: flex; align-items: center;
                gap: 0.375rem;
                cursor: pointer;
                svg {
                    width: var(--media-icon-s);
                    fill: currentColor;
                }
            }
        }
    }
}


/**
 * Animations
 */
 
@keyframes animate-media {// Popping up
    from { opacity: 0; transform: translate(1rem, 1rem);}
    to { opacity: 1; transform: translate(0, 0);}
}
