/**
 * Project FishEye
 * Component photographer
 */

#photographer {// async load
    min-height: var(--photographer-min-h);
}
.photographer-page .photographer {
    display: grid; grid-template-columns: 1fr calc(var(--photographer-picture-s) + 0.75rem); grid-template-rows: auto auto;
    grid-auto-columns: 1fr;
    grid-auto-flow: row;
    grid-template-areas:
        "photographer-header photographer-picture"
        "photographer-body photographer-picture";
    padding: var(--photographer-py) var(--photographer-px);
    border-radius: var(--border-radius);
    background-color: var(--photographer-bgc);
    animation: animate-photographer-header .8s ease-in-out;
    &-picture {
        grid-area: photographer-picture;
        display: flex; justify-content: flex-end; align-items: center;
        min-width: calc(var(--photographer-picture-s) + 0.75rem);
        &-wrapper {
            position: relative;
            flex-shrink: 0;
            width: var(--photographer-picture-s); height: var(--photographer-picture-s);
            border-radius: 50%;
            transition: transform 0.2s ease-in-out;
            img {
                width: var(--photographer-picture-s); height: var(--photographer-picture-s);
                border-radius: 50%;
                object-fit: cover;
            }
            &:before {// Shadow effect
                position: absolute; top: -0.25rem; right: -0.25rem; bottom: -0.25rem; left: -0.25rem;
                display: block;
                content: '';
                border-radius: 50%;
                border: .75rem solid var(--photographer-picture-blur);
                //box-shadow: inset 0 0 4px 10px rgba($gray-xlight, .98);
            }
        }
    }
    &-header {
        grid-area: photographer-header;
        display: flex; align-items: center;
        gap: 4.875rem;
    }
    &-body {
        grid-area: photographer-body;
    }
    &-name {
        color: $primary-light;
        font-size: var(--photographer-title-fz);
    }
    &-contact {
        display: flex; align-items: center;
        height: var(--button-h);
        padding: 0 var(--button-px);
        border-radius: var(--border-radius);
        background-color: $primary;
        color: $white;
        font-weight: $font-bold;
        cursor: pointer;
        @include media-max('lg') {
            position: fixed; bottom: 1.875rem; right: 50%; z-index: 10; transform: translateX(50%);
        }
        &:hover, &:focus {
            background-color: $primary-light;
            color: $black;
        }
    }
    &-location {
        padding-bottom: var(--photographer-body-pb);
        color: $primary;
        font-size: var(--photographer-location-fz);
    }
    &-tagline {
        padding-bottom: var(--photographer-body-pb);
        font-size: var(--photographer-tagline-fz);
    }
    &-tags {
        display: flex; flex-wrap: wrap;
        gap: var(--tags-gap);
        .tag {
            font-size: var(--photographer-tag-fz);
        }
    }
}
.priceandlike {
    position: fixed; bottom: 0; right: 2.25rem; z-index: 5;
    display: flex;
    gap: 4.125rem;
    padding: 1.25rem 2.125rem;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    background-color: $primary-xlight;
    font-size: 1.5rem;
    svg {
        height: 1.5rem; 
    }
    @include media-max('lg') {
        display: none;
    }
}

 /**
  * Animations
  */
 
@keyframes animate-photographer-header {// Popping up
    from { opacity: 0;}
    to { opacity: 1;}
}