/**
 * Project FishEye
 * Main Sass file
 */
/**
 * Project FishEye
 * Variables
 */
/**
 * Project FishEye
 * Mixin media-queries
 */
/**
 * Project FishEye
 * Soft reset
 */
*, *::before, *::after {
  box-sizing: border-box;
  min-width: 0;
}

html {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  overflow-wrap: break-word;
}

body {
  min-height: 100vh;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-size: inherit;
  font-weight: normal;
}

ul, ol, li {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style: none;
}

img, svg {
  vertical-align: middle;
  border-style: none;
}

svg:not([fill]) {
  fill: currentColor;
}

a {
  color: inherit;
  text-decoration: inherit;
}

button, input {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  text-align: inherit;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

/**
 * Project FishEye
 * Component filter
 */
.filter {
  display: flex;
  align-items: center;
  padding: 0.625rem 0;
  gap: 0.75rem;
  font-weight: 700;
}
.filter-wrapper {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: none;
  color: #FFFFFF;
  font-weight: 700;
}
.filter-wrapper [role=label] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10.625rem;
  height: 4.3125rem;
  padding: 0.25rem 1rem;
  gap: 1.625rem;
  border-radius: 0.3125rem;
  background-color: #901C1C;
  font-weight: 700;
  cursor: pointer;
}
.filter-wrapper [role=label]:after {
  position: relative;
  z-index: 4;
  display: block;
  width: 1rem;
  height: 1.4rem;
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 320 512"><path d="M151.5 347.8L3.5 201c-4.7-4.7-4.7-12.3 0-17l19.8-19.8c4.7-4.7 12.3-4.7 17 0L160 282.7l119.7-118.5c4.7-4.7 12.3-4.7 17 0l19.8 19.8c4.7 4.7 4.7 12.3 0 17l-148 146.8c-4.7 4.7-12.3 4.7-17 0z"/></svg>');
  transition: transform 0.3s ease-in-out;
}
.filter-wrapper[aria-expanded=true] [role=label]:after {
  transform: rotate(180deg);
}
.filter-wrapper:hover [role=label], .filter-wrapper:focus [role=label] {
  background-color: #D3573C;
  color: #000000;
  /*&:after {
      content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="black" viewBox="0 0 320 512"><path d="M151.5 347.8L3.5 201c-4.7-4.7-4.7-12.3 0-17l19.8-19.8c4.7-4.7 12.3-4.7 17 0L160 282.7l119.7-118.5c4.7-4.7 12.3-4.7 17 0l19.8 19.8c4.7 4.7 4.7 12.3 0 17l-148 146.8c-4.7 4.7-12.3 4.7-17 0z"/></svg>');
  }*/
}
.filter [role=listbox] {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  padding: 0.5625rem 0;
  border-radius: 0.3125rem;
  background-color: #901C1C;
  box-shadow: 1px 3px 8px 0px rgba(0, 0, 0, 0.2);
}
.filter [role=listbox] [role=option] {
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
  height: 3.1875rem;
  padding: 0 1.125rem;
  transition: all 0.2s linear;
  text-align: left;
  cursor: pointer;
  outline: none;
}
.filter [role=listbox] [role=option] + [role=option]:before {
  position: absolute;
  top: 0;
  right: 5%;
  left: 5%;
  z-index: 4;
  display: block;
  content: "";
  border-top: 1px solid #FFFFFF;
}
.filter [role=listbox] [role=option]:hover, .filter [role=listbox] [role=option][aria-selected=true] {
  background-color: #D3573C;
  color: #000000;
}

/**
 * Project FishEye
 * Component lightbox
 */
.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10vh 10vw;
  background-color: #FFFFFF;
  color: #901C1C;
  will-change: opacity;
  animation: animate-lightbox 0.3s ease-in-out;
}
.lightbox-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.lightbox-media {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lightbox-media-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.lightbox-media-container * {
  animation: animate-lightbox 0.3s ease-in-out;
  max-width: 100%;
  max-height: 100%;
  border-radius: 0.3125rem;
}
.lightbox-media-title {
  width: 100%;
  padding: 1rem 0 0.75rem;
  font-size: 1.5rem;
}
.lightbox-next, .lightbox-prev, .lightbox-close {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 50%;
  cursor: pointer;
}
.lightbox-next:hover, .lightbox-next:focus, .lightbox-prev:hover, .lightbox-prev:focus, .lightbox-close:hover, .lightbox-close:focus {
  color: #D3573C;
}
.lightbox-next svg, .lightbox-prev svg, .lightbox-close svg {
  width: 3rem;
  height: 3rem;
  fill: currentColor;
}
.lightbox-prev {
  left: 0;
}
.lightbox-next {
  right: 0;
}
.lightbox-close {
  position: absolute;
  top: 0;
  right: 0;
}

@keyframes animate-lightbox {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/**
 * Project FishEye
 * Component media
 */
.media {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem 5.9375rem;
  margin-bottom: 2rem;
}
.media .card {
  display: flex;
  flex-direction: column;
  animation: animate-media 0.5s ease-in-out;
}
.media .card-media {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  aspect-ratio: 35/30;
}
.media .card-media img, .media .card-media video {
  width: 100%;
  border-radius: 0.3125rem;
  object-fit: cover;
  aspect-ratio: 35/30;
  cursor: pointer;
}
.media .card-media .video-icon {
  position: absolute;
  z-index: 1;
  width: 6rem;
  color: rgba(255, 255, 255, 0.8);
  fill: currentColor;
}
.media .card-header {
  display: flex;
  align-items: center;
  margin-top: 0.625rem;
  color: #901C1C;
  font-size: 1.5rem;
}
.media .card-header-title {
  flex-grow: 1;
}
.media .card-header-like {
  display: flex;
  align-items: center;
  gap: 0.375rem;
  cursor: pointer;
}
.media .card-header-like svg {
  width: 1.125rem;
  fill: currentColor;
}

/**
 * Animations
 */
@keyframes animate-media {
  from {
    opacity: 0;
    transform: translate(1rem, 1rem);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
/**
 * Project FishEye
 * Component modal
 */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(196, 196, 196, 0.4);
  overflow-y: auto;
}
.modal:not([aria-hidden=true]) {
  animation: animate-backdrop-in 0.5s ease-in-out;
}
.modal:not([aria-hidden=true]) .modal-wrapper {
  animation: animate-modal-in 0.5s ease-in-out;
}
.modal-wrapper {
  position: relative;
  width: 100%;
  max-width: 41.875rem;
  margin: 4.3125rem auto;
  padding: 0.9375rem 2.1875rem 2.375rem;
  border-radius: 0.3125rem;
  background-color: #DB8876;
}
.modal-close {
  position: absolute;
  top: 2.1875rem;
  right: 2.1875rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.625rem;
  height: 2.625rem;
}
.modal-close svg {
  margin: -1.625rem;
  width: 4.25rem;
  height: 4.25rem;
  fill: #FFFFFF;
}
.modal-title {
  display: flex;
  flex-wrap: wrap;
  font-size: 4rem;
}
.modal-title-name {
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-top: 0.625rem;
}
.form-group-label {
  color: #312E2E;
  font-size: 2.25rem;
}
.form-group-input, .form-group-textarea {
  border-radius: 0.3125rem;
  border: 0px;
  background-color: #FFFFFF;
}
.form-group-input {
  height: 4.25rem;
}
.form-group-textarea {
  height: 10.625rem;
}
.form-group[data-error-show] .form-group-input, .form-group[data-error-visible] .form-group-textarea {
  border: 2px solid #FF4E60;
}

.form-submit {
  padding-top: 1.625rem;
}
.form-submit-button {
  height: 4.3125rem;
  padding: 0.25rem 3.125rem;
  border-radius: 0.3125rem;
  background-color: #901C1C;
  color: #FFFFFF;
  font-weight: 700;
  cursor: pointer;
}

@keyframes animate-backdrop-in {
  0% {
    background-color: rgba(196, 196, 196, 0);
  }
  100% {
    background-color: rgba(196, 196, 196, 0.4);
  }
}
@keyframes animate-modal-in {
  0% {
    transform: translateY(2rem) scale(0.8);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}
/**
 * Project FishEye
 * Component photographer
 */
#photographer {
  min-height: 20rem;
}

.photographer-page .photographer {
  --picture-size: 13rem;
  display: grid;
  grid-template-columns: 70% 1fr;
  grid-template-rows: auto 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  grid-template-areas: "photographer-header photographer-picture" "photographer-body photographer-picture";
  padding: 3.5rem 3.125rem;
  border-radius: 0.3125rem;
  background-color: #FAFAFA;
  animation: animate-photographer-header 0.8s ease-in-out;
}
.photographer-page .photographer-picture {
  grid-area: photographer-picture;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.photographer-page .photographer-picture-wrapper {
  position: relative;
  width: var(--picture-size);
  height: var(--picture-size);
  border-radius: 50%;
  transition: transform 0.2s ease-in-out;
}
.photographer-page .photographer-picture-wrapper img {
  width: var(--picture-size);
  height: var(--picture-size);
  border-radius: 50%;
  object-fit: cover;
}
.photographer-page .photographer-picture-wrapper:before {
  position: absolute;
  top: -0.25rem;
  right: -0.25rem;
  bottom: -0.25rem;
  left: -0.25rem;
  display: block;
  content: "";
  border-radius: 50%;
  border: 0.75rem solid rgba(250, 250, 250, 0.98);
}
.photographer-page .photographer-header {
  grid-area: photographer-header;
  display: flex;
  align-items: center;
  gap: 4.875rem;
}
.photographer-page .photographer-body {
  grid-area: photographer-body;
}
.photographer-page .photographer-name {
  color: #D3573C;
  font-size: 4rem;
}
.photographer-page .photographer-contact {
  display: flex;
  align-items: center;
  height: 4.3125rem;
  padding: 0.25rem 1rem;
  border-radius: 0.3125rem;
  background-color: #901C1C;
  color: #FFFFFF;
  font-weight: 700;
  cursor: pointer;
}
.photographer-page .photographer-contact:hover, .photographer-page .photographer-contact:focus {
  background-color: #D3573C;
  color: #000000;
}
.photographer-page .photographer-location {
  color: #901C1C;
  font-size: 1.5rem;
  padding-bottom: 1.1875rem;
}
.photographer-page .photographer-tagline {
  padding-bottom: 1.1875rem;
}
.photographer-page .photographer-tags {
  display: flex;
  gap: 0.3125rem;
}
.photographer-page .photographer-tags .tag {
  height: 1.5rem;
  padding: 0 0.4375rem;
  font-size: 1.125rem;
}

.priceandlike {
  position: fixed;
  bottom: 0;
  right: 2.25rem;
  z-index: 5;
  display: flex;
  gap: 4.125rem;
  padding: 1.25rem 2.125rem;
  border-radius: 0.3125rem 0.3125rem 0 0;
  background-color: #DB8876;
  font-size: 1.5rem;
}
.priceandlike svg {
  height: 1.5rem;
}

/**
 * Animations
 */
@keyframes animate-photographer-header {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/**
 * Project FishEye
 * Component photographers
 */
.photographers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 3.625rem -9.75rem;
  gap: 2rem 0;
}
.photographers .photographer {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  animation: animate-photographer 1s ease-in-out;
}
.photographers .photographer-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: none;
}
.photographers .photographer-link:hover .photographer-picture, .photographers .photographer-link:focus .photographer-picture {
  transform: scale(1.1);
}
.photographers .photographer-picture {
  position: relative;
  width: 14rem;
  height: 14rem;
  margin-bottom: 0.5rem;
  border-radius: 50%;
  transition: transform 0.2s ease-in-out;
}
.photographers .photographer-picture img {
  width: 14rem;
  height: 14rem;
  border-radius: 50%;
  object-fit: cover;
}
.photographers .photographer-picture:before {
  position: absolute;
  top: -0.25rem;
  right: -0.25rem;
  bottom: -0.25rem;
  left: -0.25rem;
  display: block;
  content: "";
  border-radius: 50%;
  border: 1rem solid rgba(255, 255, 255, 0.98);
}
.photographers .photographer-name {
  color: #D3573C;
  font-size: 2.25rem;
}
.photographers .photographer-location {
  color: #901C1C;
  font-size: 0.8125rem;
}
.photographers .photographer-tagline {
  padding-bottom: 4px;
  font-size: 0.625rem;
}
.photographers .photographer-price {
  padding-bottom: 4px;
  color: #757575;
  font-size: 0.5625rem;
}
.photographers .photographer-tags {
  display: flex;
  gap: 0.3125rem;
}

/**
 * Animations
 */
@keyframes animate-photographer {
  from {
    opacity: 0;
    transform: translate(1rem, 1rem);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
/**
 * Project FishEye
 * Component tag
 */
.tag {
  display: inline-block;
  padding: 0.1875rem 0.4375rem;
  border-radius: 0.6875rem;
  height: 1.375rem;
  border: 1px solid #C4C4C4;
  outline: none;
  color: #901C1C;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.2;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  animation: animate-pop-left 1s ease-in-out;
}
.tag:before {
  content: "#";
}
.tag:hover, .tag:focus, .tag[data-filter-active=true] {
  background: #901C1C;
  color: #FFFFFF;
}

/**
 * Animations
 */
@keyframes animate-pop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/**
 * Project FishEye
 * Layout
 */
/**
 * Base
 */
body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  font-family: "DM Sans", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.3;
}

/**
 * Header
 */
.header {
  display: flex;
  align-items: center;
  gap: 5.375rem;
  width: 100%;
  max-width: 90rem;
  margin: 0 auto;
  padding: 2.625rem 6.25rem;
}
@media screen and (max-width: 1023.99px) {
  .header {
    flex-wrap: wrap;
    gap: 0;
  }
}
@media screen and (max-width: 1023.99px) {
  .header-logo {
    width: 100%;
  }
}
.header-logo img {
  width: 12.5rem;
  height: 3.125rem;
}
@media screen and (min-width: 1024px) {
  .header-nav {
    padding-right: 20rem;
  }
}
.header-nav-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3125rem;
}
.header-nav .tag {
  text-transform: capitalize;
}

/**
 * Main
 */
.main {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 6.25rem;
}
.main-title {
  position: absolute;
  top: -8.375rem;
  right: 0;
  display: flex;
  align-items: center;
  height: 8.375rem;
  padding: 0 6.25rem 0 5.375rem;
  color: #901C1C;
  font-size: 2.25rem;
}
.main-scroll-to {
  position: fixed;
  top: 0.375rem;
  right: 50%;
  z-index: 2;
  display: none;
  padding: 0.25rem 1rem;
  border-radius: 0.3125rem;
  background-color: #D3573C;
  font-weight: 700;
  transform: translate(50%, 0);
  will-change: opacity transform;
  animation: animate-scroll-to 1s ease-in-out;
}
body.scroll .main-scroll-to {
  display: initial;
}

/**
 * Animations
 */
@keyframes animate-scroll-to {
  from {
    opacity: 0;
    transform: translate(50%, 1rem);
  }
  to {
    opacity: 1;
    transform: translate(50%, 0);
  }
}/*# sourceMappingURL=main.css.map */