<article class="photographer">
    <a href="photographer.html?id={{id}}" class="photographer-link" aria-label="{{name}}">
        <div class="photographer-picture">
            <img src="{{image}}" alt="{{name}}">
        </div>
        <h2  class="photographer-name">{{name}}</h2>
    </a>
    <p class="photographer-location">{{city}}, {{country}}</p>
    <p class="photographer-tagline">{{tagline}}</p>
    <p class="photographer-price">{{price}}€/jour</p>
    <ul class="photographer-tags">{{tags}}</ul>
</article>